@using DodoSweets.Models
@using Microsoft.Extensions.Options
@using System.Collections.ObjectModel

//make pages navigation in blaz

@* implements IDisposable
inject IOptions<ContactInfoOptions> ContactInfoOptions
 *@

<div 
    class="container-fluid d-flex align-items-center p-3
        justify-content-around" 
    style="position:fixed;top:0;z-index:1;background-color:white;height:115px">
    
    <MudImage src="https://raw.githubusercontent.com/amryakout2024/Sweets-Images/main/dodoslogo.jpg" Class="d-block header-logo" alt="Dodo's Cakes Logo" />
    
    <MudStack Spacing="5" Row="true" Class="d-flex justify-content-center">
        <MudIcon Style="color:deeppink"
                 Icon="@Icons.Material.Filled.SupportAgent" Size="Size.Medium" />

        <MudText Style="color:deeppink;font-size:12px">English</MudText>

    </MudStack>

@*     <MudItem xs="6" Class="d-flex col-md-3 justify-content-center">
    </MudItem>
 *@
@*     <MudItem xs="6" Class="container d-flex col-md-3 align-items-center justify-content-center">

   
    </MudItem>
 *@

</div>

@code {

}

