@using Microsoft.Extensions.Options

//make pages navigation in blaz
@inject NavigationManager NavigationManager

@* implements IDisposable
inject IOptions<ContactInfoOptions> ContactInfoOptions
 *@

<MudGrid Class="container-fluid pb-1" Style="position:sticky;top:0;z-index:1;background-color:white">
   
    <MudItem  xs="6" Class="container d-flex col-md-3 align-items-center order-0 justify-content-center">

        <MudStack Spacing="5" Row="true" Class="d-flex justify-content-center">
            <MudBadge Color="Color.Primary" Style="height:10px"
                      Content="0" Overlap="true" Variant="Variant.Filled">
                <MudIcon Style="color:deeppink"
                         Icon="@Icons.Material.Rounded.FavoriteBorder" Size="Size.Medium" />
            </MudBadge>

            <MudIcon Style="color:deeppink"
                     Icon="@Icons.Material.Filled.SupportAgent" Size="Size.Medium" />

@*             <MudText Style="color:deeppink;font-size:12px">English</MudText>
 *@        
        </MudStack>
   
    </MudItem>

    <MudItem xs="6" Class="d-flex col-md-3 justify-content-center order-1 order-md-2 ">
        <MudImage src="images/dodoslogo.jpg" Class="d-block header-logo" alt="Dodo's Cakes Logo"/>
    </MudItem>

    <MudItem xs="12" Class="d-flex col-md-6 align-items-center order-2 order-md-1">
        <MudTextField T="string" Clearable="true"
                      Variant="Variant.Outlined"
                      ClearIcon="@Icons.Material.Filled.Clear" Adornment="Adornment.End"
                      AdornmentIcon="@Icons.Material.Filled.Search" Class="rounded-input"
                      Style="text-align:justify;height:40px;border-radius:30px">
        </MudTextField>
    </MudItem>




    
</MudGrid>

@* <div class="container-fluid">
    <div class="row">
        <MudText 
            Style="align-items:center;color:deeppink"
            Class="col" 
            Typo="Typo.h2" 
            Align="Align.Center">حلويات دودوز
        </MudText>

        <div class="col-auto">
            <MudImage src="images/dodoslogo.jpg" Style="position:center" alt="Dodo's Cakes Logo" width="100" height="100" />
        </div>
    </div>
</div>
 *@


@code {
    private string? currentUrl;
    // private ContactInfoOptions _contactOptions = new();
    // protected override void OnInitialized()
    // {
    //     _contactOptions = ContactInfoOptions.Value;
    //     currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
    //     NavigationManager.LocationChanged += OnLocationChanged;
    // }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

