@using DodoSweets.Models
@using Microsoft.Extensions.Options
@using System.Collections.ObjectModel
@inject IJSRuntime JS
@inject NavigationManager Nav
@inject IStringLocalizer<AppResource> Loc

//make pages navigation in blaz


<div 
    class="container-fluid d-flex align-items-center p-3
        justify-content-around" 
    style="position:fixed;top:0;z-index:1;background-color:white;height:115px">
    
    <MudImage src="https://raw.githubusercontent.com/amryakout2024/Sweets-Images/main/dodoslogo.jpg" Class="d-block header-logo" alt="Dodo's Cakes Logo" />
    
    <MudStack Spacing="5" Row="true" Class="d-flex justify-content-center">
        <MudIcon Style="color:deeppink"
                 Icon="@Icons.Material.Filled.SupportAgent" Size="Size.Medium" />

        <MudText Style="color:deeppink;font-size:13px">@Loc["Lang"]</MudText>

    </MudStack>
</div>

@code {

    protected override void OnInitialized()
    {
        var d = Loc["Lang"];
    }
    private async Task ChangeLanguage(string culture)
    {
        await JS.InvokeVoidAsync("localStorage.setItem", "BlazorCulture", culture);
        // WASM requires a reload to apply the new CultureInfo to the thread
        Nav.NavigateTo(Nav.Uri, forceLoad: true);
    }

}

