@inject IStringLocalizer<AppResource> Loc

<MudDialog>
    <DialogContent>
        <div class="col">
            <p class="mb-2 d-flex">
                <i class=" me-2 ms-0 justify-content-start" style="margin-right: 0.5rem !important;">
                    <MudIcon Style=""
                             Icon="@Icons.Material.Filled.Person" Size="Size.Small" />
                </i>
                @Loc["dina"]
            </p>
            <p class="mb-2 d-flex">
                <i class="fa fa-map-marker-alt me-3"></i>
                @Loc["elmahallaelkubra"]
            </p>
            <p class="mb-2 d-flex">
                <i class="fa fa-phone-alt me-3 justify-content-start"
                   style="margin-right: 0.75rem !important;"></i>
                01201071921
            </p>
            <p class="mb-2 d-flex align-items-center">
                <i class="fa fa-envelope me-3  justify-content-start"></i>
                Dinaebrahim1986@gmail.com
            </p>
            <div class="d-flex pt-2 justify-content-start">
                @*                     <a class="btn btn-outline-light btn-social m-1" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
 *@  
                    <a class="btn m-1" style="color:darkblue;border-color:darkblue" href="https://www.facebook.com/DuraSweets?rdid=7fek4czaTgtC392G&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F1U7ZcT13GS%2F#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a class="btn m-1" style="color:darkblue;border-color:darkblue" href="https://www.facebook.com/groups/608863016163356/" target="_blank"><i class="fab fa-facebook-f"></i></a>

                @*                     <a class="btn btn-outline-light btn-social m-1" href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
 *@
                @*                     <a class="btn btn-outline-light btn-social m-1" href="https://www.linkedin.com/in/amr-yakout-683ba0272/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
 *@                
            </div>
        </div>
   </DialogContent>
 @*     <DialogActions>
        <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="Close">Close</MudButton>
    </DialogActions>
 *@
</MudDialog>

@code {
    [CascadingParameter] IMudDialogInstance mudDialog { get; set; }

    private void Close() => mudDialog.Close();
}
