body {

}
.image-header {
    width: 100px;
    float:right;
    height: auto;
}
.rounded-input .mud-input-outlined-border {
    border-radius: 25px;
}

.header-row{
    align-items:center;
    margin-right:25px;
    margin-left:25px;
    margin-bottom:25px;
}

.header-input {
    margin-right: 200px;
    margin-left: 200px;
    height:40px;
}

.header-logo{
    width:100px
}

@media (max-width: 767px) {
    .header-logo {
        width: 80px
    }
}

/* Targets the inner input element for alignment */
.custom-mud-input .mud-input {
    text-align: center !important;
    height:45px;
}

/* Apply only to fields with this specific class */
.custom-radius .mud-input-outlined-border {
    border-radius: 15px !important;
}
