body {

}
.image-header {
    width: 100px;
    float:right;
    height: auto;
}
.rounded-input .mud-input-outlined-border {
    border-radius: 25px;
}

.header-row{
    align-items:center;
    margin-right:25px;
    margin-left:25px;
    margin-bottom:25px;
}

.header-input {
    margin-right: 200px;
    margin-left: 200px;
    height:40px;
}