body {
}

/*.autocomplete-width {
    width:75%*/
/*    padding: 0px 100px 20px 100px;
*//*}

@media (min-width: 992px) {
    .autocomplete-padding {
        padding: 0px 300px 20px 300px;
    }
}*/



/** my Style ***/
.anchor-style {
    color: white
}
.image-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(180px, 1fr));
    gap: 15px;
}

/*.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px;
}
*/
.image-card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,.15);
}

    .image-card img {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
