@using Microsoft.Extensions.Localization
@inherits LayoutComponentBase

<MudRTLProvider RightToLeft="@(CultureInfo.CurrentCulture.Name.StartsWith("ar") ? true : false)">
    <MudThemeProvider />
    <MudPopoverProvider />
    <MudDialogProvider FullWidth="false"
                       MaxWidth="MaxWidth.Small"
                       Position="DialogPosition.Center" />
@*     <MudDialogProvider FullWidth="false" NoHeader="true"
                       MaxWidth="MaxWidth.Small"
                       CloseButton="true"
                       BackdropClick="false"
                       Position="DialogPosition.Center"
                       CloseOnEscapeKey="true" />
 *@    <MudSnackbarProvider />
    <MudScrollToTop />

    <Header />

    <MudLayout>

        <MudMainContent>

            @Body

        </MudMainContent>
    </MudLayout>

    <Footer />
</MudRTLProvider>

@code {
    private bool _isRtl = true; // Set to true for RTL, false for LTR
}
@* <div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
 *@


@* <div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
 *@